<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="tache">
            <h2><span jhiTranslate="gestionEmployeAkilApp.tache.detail.title">Tache</span> {{tache.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gestionEmployeAkilApp.tache.titre">Titre</span></dt>
                <dd>
                    <span>{{tache.titre}}</span>
                </dd>
                <dt><span jhiTranslate="gestionEmployeAkilApp.tache.description">Description</span></dt>
                <dd>
                    <span>{{tache.description}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/tache', tache.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
